<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Shop</title>
    <link rel="stylesheet" href="./style.css"/>
    <script src="./script.js"></script>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div id="home">
        <div class="profile_name">
          <img src="https://cdn-icons-png.flaticon.com/512/1828/1828439.png" width="20" height="20"/>
          {{ author_name }}
          <div class="contact_info">
            <img src="https://cdn-icons-png.flaticon.com/512/185/185578.png" width="20" height="20"/>
          {{ author_class }}
        </div>
        <hr>
        <div style="clear:both;"></div>

        </div>
        <div class="topdiv">
          <a class="topmenu" href="#about-shop">About</a>
          <a class="topmenu" href="#pokemon_cards">Cards</a>
          <a class="topmenu" href="#order">Order</a>
          <hr>
          <p></p>
          <!-- Add the links for Skills, Projects and Recommendation here -->

        </div>
      </div>    
    </nav>

    <!-- About Me -->
    <section id="about-shop" class="container">
      <div>
        <img src="https://64.media.tumblr.com/088786d466c3a315d6043b8e59d96770/tumblr_msu2ojWkqz1scncwdo1_500.gif" class="profile_image" width="100" height="100"/>
      </div>

      <div>
          <h1>
            Welcome to {{ app_name }} ! <img src="https://em-content.zobj.net/source/microsoft-teams/363/waving-hand_1f44b.png" width="30px" height="30"/>
          </h1>
          <p>
            This site is an inventory to managed all the pokemon cards around the world.
            It is under heavy development, and the order form doesn't work at the moment.
            Although, you can still enjoy Pokemon's beautiful cards!
          </p>
      </div>
    </section>
              
    <!-- Pokemon Cards -->
    <section id="pokemon_cards">
      <hr>
      <h2>Cards Around The World</h2>
      <div style="clear:both;"></div>

      <div class="all_skills">
        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dbowzl8-dbbc4631-6489-4bbb-ab7b-80a870341a9b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJvd3psOC1kYmJjNDYzMS02NDg5LTRiYmItYWI3Yi04MGE4NzAzNDFhOWIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9Xv2avCprYz5Hcru0i6m5NdJmiMYGjo123ea46m34GU"
                width="200"
                height="300"/>
          <h4>{{ name_card1 }}</h4>
          <h5>{{ category1 }} | {{ amount1 }} Available | ${{ price1 }}</h5>
          <h6>{{ description1 }}</h6>
        </div>  

        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dc10e3r-61463653-472e-414d-8f09-151649249bc9.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGMxMGUzci02MTQ2MzY1My00NzJlLTQxNGQtOGYwOS0xNTE2NDkyNDliYzkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Hq72SiZGNltB5sfqtX9gHUxHiOfWNGLDGRnvRBGvv0Y"
                width="200"
                height="300"/>
          <h4>{{ name_card2 }}</h4>
          <h5>{{ category2 }} | {{ amount2 }} Available | ${{ price2 }}</h5>
          <h6>{{ description2 }}</h6>
        </div>  

        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dbroj7n-3c5feb65-fd05-4956-aa6d-3c3f48e5bb75.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJyb2o3bi0zYzVmZWI2NS1mZDA1LTQ5NTYtYWE2ZC0zYzNmNDhlNWJiNzUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YNYEcGpslvx9kslnjmWIjBPEvwphNRrN0V_Q8tjtv7k"
                width="200"
                height="300"/>
          <h4>{{ name_card3 }}</h4>
          <h5>{{ category3 }} | {{ amount3 }} Available | ${{ price3 }}</h5>
          <h6>{{ description3 }}</h6>
        </div>  

        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dboqe8v-057ffe77-3bde-4d03-928e-42cfa74d445a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJvcWU4di0wNTdmZmU3Ny0zYmRlLTRkMDMtOTI4ZS00MmNmYTc0ZDQ0NWEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.whlylyHeITaqYVSNkICmjde3rShB2QgYADnxATsOBOM"
                width="200"
                height="300"/>
          <h4>{{ name_card4 }}</h4>
          <h5>{{ category4 }} | {{ amount4 }} Available | ${{ price4 }}</h5>
          <h6>{{ description4 }}</h6>
        </div>  

        <div class="skill">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dbnj4sz-53864d26-9787-40d1-a0f3-47e222727a20.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJuajRzei01Mzg2NGQyNi05Nzg3LTQwZDEtYTBmMy00N2UyMjI3MjdhMjAuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dxGdJd13QQ5i7YIk4MTLUewSMNYMA6xd7-DWPD4Vctk"
                width="200"
                height="300"/>
          <h4>{{ name_card5 }}</h4>
          <h5>{{ category5 }} | {{ amount5 }} Available | ${{ price5 }}</h5>
          <h6>{{ description5 }}</h6>
        </div>  

        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dbirhpt-ba192d17-592f-4dd7-9ff4-ce40f506dbfe.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJpcmhwdC1iYTE5MmQxNy01OTJmLTRkZDctOWZmNC1jZTQwZjUwNmRiZmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Q0xeLFQ1EzDUDzL61mskPEG-OXxs3RfdO-v7sbutuMY"
                width="200"
                height="300"/>
          <h4>{{ name_card6 }}</h4>
          <h5>{{ category6 }} | {{ amount6 }} Available | ${{ price6 }}</h5>
          <h6>{{ description6 }}</h6>
        </div>  

        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dbksp56-84f8a7ad-e544-47b4-84c8-3baae7451172.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJrc3A1Ni04NGY4YTdhZC1lNTQ0LTQ3YjQtODRjOC0zYmFhZTc0NTExNzIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Y5GGenyjsVYA4Mr6V5E1k5soRElnlueYpDazcfOg3Bo"
                width="200"
                height="300"/>
          <h4>{{ name_card7 }}</h4>
          <h5>{{ category7 }} | {{ amount7 }} Available | ${{ price7 }}</h5>
          <h6>{{ description7 }}</h6>
        </div>  

        <div class="skill">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3dfdb24-369a-4251-9313-3bb185ea2453/dbgiozh-e376c8f4-fdf2-4da8-93f5-a472449dea11.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZGZkYjI0LTM2OWEtNDI1MS05MzEzLTNiYjE4NWVhMjQ1M1wvZGJnaW96aC1lMzc2YzhmNC1mZGYyLTRkYTgtOTNmNS1hNDcyNDQ5ZGVhMTEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6Maxac2QL51QssKPIx-OwVVq_NiLjf4vR05KOea18Pw"
                width="200"
                height="300"/>
          <h4>{{ name_card8 }}</h4>
          <h5>{{ category8 }} | {{ amount8 }} Available | ${{ price8 }}</h5>
          <h6>{{ description8 }}</h6>
        </div>  

        <!-- Add more skills here -->


      </div>
      <hr>
    </section>

    <!-- Order Form -->
    <section id="order">
      <h2>Order</h2>
      <div class="flex_center">
        <fieldset>
          <legend class="introduction">Order</legend>          
          <input type="text" placeholder="Email"> <br/>
          <textarea id="new_recommendation" cols="500" rows="10" placeholder="Message. For example (About: I would like to order 1 card of MewTwo please. Address: Pacilkom No 3. Payment: Paypal. Thank you.)"></textarea>
          <div class="flex_center">
            <button id="recommend_btn" onclick="addRecommendation(), showPopup(true)">Submit</button>
          </div>
        </fieldset>
      </div>
    </section>

  </body>
</html>
