{% extends 'base.html' %}

{% block content %}
  <head>
    <title>Pokemon Shop</title>
    <link rel="stylesheet" href="./style.css"/>
    <script src="./script.js"></script>
    <style>
      
    </style>
  </head>
  <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <!-- Navigation Bar -->
    <nav>
      <div id="home" style="background-color:  #bc0000;
      color:rgb(229, 229, 229);
      padding-bottom: 1cm;
      margin-left:-8px;
      margin-right:-1cm;
      margin-top:-1cm;
      padding-top: 1cm;
      padding-bottom: 2cm;
      height: 5mm;">
        <div class="profile_name">
          <img src="https://cdn-icons-png.flaticon.com/512/1828/1828439.png" width="20" height="20"/>
          {{ author_info.name }}
          <div class="contact_info">
            <img src="https://cdn-icons-png.flaticon.com/512/185/185578.png" width="20" height="20"/>
          {{ author_info.class }}
        </div>
        <hr>
        <div style="clear:both;"></div>

        </div>
        <div class="topdiv">
          <a class="topmenu" href="#about-shop">About</a>
          <a class="topmenu" href="#pokemon_cards">Cards</a>
          <a class="topmenu" href="#order">Order</a>
          <hr>
          <p></p>
          <!-- Add the links for Skills, Projects and Recommendation here -->

        </div>
      </div>    
    </nav>

    <!-- About Me -->
    <section id="about-shop" class="container" style="display: flex; justify-content: center; align-items: center; text-align: center;">
      <div>
          <img src="https://64.media.tumblr.com/088786d466c3a315d6043b8e59d96770/tumblr_msu2ojWkqz1scncwdo1_500.gif" class="profile_image" width="100" height="100" style="margin: 0 auto; display: block;">
      </div>
  
      <div>
          <h1>
              Welcome to {{ app_name }} ! <img src="https://em-content.zobj.net/source/microsoft-teams/363/waving-hand_1f44b.png" width="30px" height="30"/>
          </h1>
          <p>
              This site is an inventory to manage all the Pokemon cards around the world.
              It is under heavy development, and the order form doesn't work at the moment.
              Although, you can still enjoy Pokemon's beautiful cards!
          </p>
      </div>
  </section>
              
    <!-- Pokemon Cards -->
    <section id="pokemon_cards">
      <hr>
      <h2>Cards Around The World</h2>
      <div style="clear:both;"></div>

      <div class="all_skills">
        <div class="skill">
          <table style="table-layout: fixed;
          width: 1800px;">
            <tr>
              {% for card in cards %}
              <th>
                <h4>{{card.name}}</h4>
              </th>
              {% endfor %}
            </tr>
              {% for card in cards %}
              <td style="width: 200px;
              vertical-align: top;
              text-align: center;
              padding: 10px;
              height: 400px;">
                <img src={{card.picture}}
                      alt="{{card.name}}"
                      width="200"
                      height="300" style="max-width: 200px;
                      max-height: 300px;"/>
                <h5>{{card.category}} | {{card.amount}} Available | ${{card.price}}</h5>
                <h6>{{card.description}}</h6>
              </td>
              {% endfor %}
          </table>
        </div>
      </div>
      <hr>
    </section>

    <!-- Order Form -->
    <section id="order">
      <h2>Order</h2>
      <div class="flex_center">
        <fieldset>
          <legend class="introduction">Order List</legend>     
            <table>
              <tr>
                  <th style="text-align: center; padding: 15px;">Display</th>
                  <th style="text-align: center; padding: 15px;">Name</th>
                  <th style="text-align: center; padding: 15px;">Amount</th>
                  <th style="text-align: center; padding: 15px;">Price (USD)</th>
                  <th style="text-align: center; padding: 15px;">Description</th>
                  <th style="text-align: center; padding: 15px;">Date Added</th>
              </tr>
          
              {% comment %} memperlihatkan data produk di bawah baris ini {% endcomment %}
          
              {% for product in products %}
                  <tr> 
                      <td style="text-align: center; padding: 15px;">
                        <img src={{product.picture}}
                        alt="{{product.name}}"
                        width="100"
                        height="150"/></td>
                      <td style="text-align: center; padding: 15px;"><h4>{{product.name}}</h4></td>
                      <td style="text-align: center; padding: 15px;">{{product.amount}}</td>
                      <td style="text-align: center; padding: 15px;">{{product.price}}</td>
                      <td style="text-align: center; padding: 15px;">{{product.description}}</td>
                      <td style="text-align: center; padding: 15px;">{{product.date_added}}</td>
                  </tr>
              {% endfor %}
            </table>
        </fieldset>
      </div>
    </section>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
  </body>

{% endblock content %}
